.loader {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.loader > .centerLoader {
  position: absolute;
  left: -50%;
  top: 40%;
  right: -50%;
  bottom: 0;
}
